* {
  padding: 0;
  margin: 0;
}
body {
  background: #222222;
  overscroll-behavior: none;
}
#g {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow-x: hidden;
}
canvas {
  image-rendering: pixelated;
  object-fit: contain;
  max-height: 100%;
  max-width: 100%;
}
